<main class="main">
    <div class="left_side">
        <section class="section-ls avatar">
            <picture>
                <img ngSrc="/assets/images/photo-profile.png" alt="Profile Photo" height="504" width="400" />
            </picture>
            <div>
                <h2>SANDERS GUTIÉRREZ</h2>
                <span>System Engineer</span>
            </div>
        </section>
        <section class="section-ls contact-info">
            <h2>CONTACT ME</h2>
            <ul>
                <li>
                    <fa-icon [icon]="faPhone"></fa-icon>
                    <p>
                        <span>PHONE</span>
                        <span>+54 9 11 60219207</span>
                    </p>
                </li>
                <li>
                    <fa-icon [icon]="faEnvelope"></fa-icon>
                    <p>
                        <span>EMAIL</span>
                        <span>ing.sanders&#64;gmail.com</span>
                    </p>
                </li>
                <li>
                    <fa-icon [icon]="faGlobe"></fa-icon>
                    <p>
                        <span>WEBSITE</span>
                        <span>https://untalsanders.github.io</span>
                    </p>
                </li>
                <li>
                    <fa-icon [icon]="faLocationDot"></fa-icon>
                    <p>
                        <span>ADDRESS</span>
                        <span>Colpayo 55 - Buenos Aires, Argentina</span>
                    </p>
                </li>
            </ul>
        </section>
        <section class="section-ls social-network-info">
            <h2>FOLLOW ME</h2>
            <ul>
                <li>
                    <fa-icon [icon]="faLinkedinIn"></fa-icon>
                    <p>
                        <span>LinkedIn</span>
                        <span>https://linkedin.com/in/untalsanders</span>
                    </p>
                </li>
                <li>
                    <fa-icon [icon]="faTwitter"></fa-icon>
                    <p>
                        <span>Twitter</span>
                        <span>https://twitter.com/&#64;untalsanders</span>
                    </p>
                </li>
                <li>
                    <fa-icon [icon]="faInstagram"></fa-icon>
                    <p>
                        <span>Instagram</span>
                        <span>https://instagram.com/untalsanders</span>
                    </p>
                </li>
                <li>
                    <fa-icon [icon]="faYoutube"></fa-icon>
                    <p>
                        <span>YouTube</span>
                        <span>https://youtube.com/&#64;untalsanders</span>
                    </p>
                </li>
            </ul>
        </section>
        <section class="section-ls languages-info">
            <h2>LANGUAGES</h2>
            <ul>
                <li>
                    <fa-icon [icon]="faLanguage"></fa-icon>
                    Spanish (Level: Native)
                </li>
                <li>
                    <fa-icon [icon]="faLanguage"></fa-icon>
                    English (Level: A1)
                </li>
            </ul>
        </section>
        <section class="section-ls references-info">
            <h2>REFERENCES</h2>
            <ul>
                <li>
                    <fa-icon [icon]="faLink"></fa-icon>
                    <p>
                        <span>Juan Martirén</span>
                        <span>T: +54 9 11 1234 5678</span>
                        <span>E: juan-martiren&#64;gmail.com</span>
                    </p>
                </li>
                <li>
                    <fa-icon [icon]="faLink"></fa-icon>
                    <p>
                        <span>Fabián Costa</span>
                        <span>T: +54 9 11 2345 6789</span>
                        <span>E: fabian-costa&#64;gmail.com</span>
                    </p>
                </li>
            </ul>
        </section>
        <section class="section-ls interest-info">
            <h2>INTEREST</h2>
            <ul>
                <li>Traveling</li>
                <li>Sports</li>
                <li>Reading</li>
                <li>Music</li>
            </ul>
        </section>
    </div>

    <div class="right_side">
        <section class="section-rs profile-info">
            <header>
                <fa-icon [icon]="faUserTie"></fa-icon>
                <h2>Profile</h2>
            </header>
            <p>My name is Sanders and I am a professional with a strong career in Software Engineering and a growing
                interest in Artificial Intelligence and Machine Learning, with a passion for Physics and Mathematics. I
                have more than 5 years of experience in software development with Java and Nodejs. I have creativity to
                solve problems and adapt to different environments and cultures. Ability to work in a team and manage
                interpersonal relationships.</p>
        </section>
        <section class="section-rs experience-info">
            <header>
                <fa-icon [icon]="faPersonWalkingLuggage"></fa-icon>
                <h2>Experience</h2>
            </header>
            <section class="experience-list">
                <article class="experience-item">
                    <header>
                        <span>Feb 2019 - Present</span>
                        <h3>Freelancer / Software Developer</h3>
                        <span>Federal Capital - Buenos Aires, Argentina</span>
                    </header>
                    <p>Development of custom applications for personal use using the technologies that I know the most and
                        that every day I try to learn a little more about each one. Among them I can mention Java (Mainly),
                        Nodejs, PHP and Python in Back-end and Front-end HTML5, CSS3 and Javascript and a constant learning
                        of frameworks such as Angular and the Reactjs component development library.</p>
                </article>
                <article class="experience-item">
                    <header>
                        <span>Mar 2019 - Oct 2022</span>
                        <h3>Latam Airlines (Globant) / Senior Java Developer</h3>
                        <span>Federal Capital - Buenos Aires, Argentina</span>
                    </header>
                    <p>Development of use cases for the area of airport agents of the company Latam Airline.</p>
                </article>
                <article class="experience-item">
                    <header>
                        <span>Sep 2021 - Feb 2022</span>
                        <h3>Falabella Bank (Technisys - Contractor) / Senior Software Developer</h3>
                        <span>Federal Capital - Buenos Aires, Argentina</span>
                    </header>
                    <p>Development and maintenance of Core Banking modules of Falabella Bank of Chile. I had the opportunity to develop a project called CARD-Rules from 0%, which consisted of activating or deactivating permits for the use of credit and debit cards inside and outside the country.</p>
                </article>
                <article class="experience-item">
                    <header>
                        <span>Apr 2021 - Sep 2021</span>
                        <h3>DigitalHouse / Java Teacher - BootCamp Mercado Libre</h3>
                        <span>Federal Capital - Buenos Aires, Argentina</span>
                    </header>
                    <p>Professor of Java Programming and object orientation, especially I teach to use the Spring framework and various subprojects such as SpringBoot, Spring Data, Spring Security among others. Also basic concepts of both relational and non-relational database design.</p>
                </article>
                <article class="experience-item">
                    <header>
                        <span>Jan 2021 - Apr 2021</span>
                        <h3>Poincenot Studio / Senior Java Developer</h3>
                        <span>Federal Capital - Buenos Aires, Argentina</span>
                    </header>
                    <p>Support and Development of REST APIs with Java 8, Spring, JPA + Hibernate, MySQL and Mongo, CI/CD with Jenkins and GitLab on the Company's Carta Blanca Lending platform as a digital banking strategy.</p>
                </article>
                <article class="experience-item">
                    <header>
                        <span>May 2020 - Jan 2021</span>
                        <h3>BBVA Argentina / Senior Java Developer</h3>
                        <span>Federal Capital - Buenos Aires, Argentina</span>
                    </header>
                    <p>Development and maintenance of Core Banking modules, using Java language in its version 1.6. Core Banking is built using an amalgamation of Java technologies. To mention a few: Java 1.6, JSP 2.3, Struts, Spring Framework.</p>
                </article>
                <article class="experience-item">
                    <header>
                        <span>Oct 2019 - May 2020</span>
                        <h3>DirecTV (Qservices S.R.L) / DevOps Developer</h3>
                        <span>Federal Capital - Buenos Aires, Argentina</span>
                    </header>
                    <p>Automation of application deployment in the different markets where DirecTV operates.</p>
                </article>
                <article class="experience-item">
                    <header>
                        <span>May 2019 - Oct 2019</span>
                        <h3>BBVA Argentina (XEROX ARGENTINA I.C.S.A.) / Semi Senior Technical Analyst</h3>
                        <span>Federal Capital - Buenos Aires, Argentina</span>
                    </header>
                    <p>Technical and functional analysis of requirements for the implementation of the A2D (Analog to Digital) project, focused on the design of forms using the Inspire Designer 10 tool.</p>
                </article>
                <article class="experience-item">
                    <header>
                        <span>Feb 2018 - Feb 2019</span>
                        <h3>Sisoft Soluciones Informáticas / Full Stack Web Developer</h3>
                        <span>Yopal - Casanare, Colombia</span>
                    </header>
                    <p>Full Stack LAMP - (Linux, Apache, PHP + Laravel, MySQL y Postgresql), HTML, CSS, Javascript + Vuejs Web Developer. Support engineer for modules developed by the company and third parties.</p>
                </article>
            </section>
        </section>
        <section class="section-rs education-info">
            <header>
                <fa-icon [icon]="faGraduationCap"></fa-icon>
                <h2>Education</h2>
            </header>
            <section class="education">
                <article class="education-item">
                    <header>
                        <span>Feb 2007 - Nov 2014</span>
                        <h3>Remington University Corporation / System Engineer</h3>
                        <span>Villavicencio - Meta, Colombia</span>
                    </header>
                    <p>Computer Science and Software Engineering</p>
                </article>
            </section>
        </section>
    </div>
</main>
